/* Element Styling */
:root {
    --card-bg: #201B1F;
    --avatar-border: #A69E92;
    --text-color: #A69E92;
    --highlited-text-color: #E4E4E6;
    --highlited-avatar-border: #E4E4E6;
}

body {
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 19px;
}

h2 {
    font-size: 17px;
}

/* Class Styling */

.card {
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin: 0 auto;
    padding: 20px;

    background-color: var(--card-bg);
    border-radius: 10px;

}

.avatar {
    width: 35%;
    border-right: 4px solid var(--avatar-border);
    border-bottom: 4px solid var(--avatar-border);
    border-bottom-right-radius: 5px;
}

.personal-info {
    text-align: center;
    margin: auto;
    color: var(--text-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Animation & hovering effects */

@keyframes highlightText {
    from {
        color: var(--text-color);
    }
    to {
        color: var(--highlited-text-color);
        text-shadow: 0 0 3px var(--highlited-text-color);
    }
}

.text-focus:hover {
    animation-name: highlightText;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes highlightImg {
    from {
        border-right: 4px solid ;
        border-bottom: 4px solid var(--avatar-border);
    }
    to {
        border-right: 4px solid var(--highlited-text-color);
        border-bottom: 4px solid var(--highlited-text-color);
        box-shadow: 0 0 3px var(--highlited-text-color);
    }
}

.box-focus:hover {
    animation-name: highlightImg;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}